@model OnlineShopping.ViewModels.ArtiklOneViewModel
@{ Layout = "/Views/Admin/_Layout.cshtml";}
@inject OnlineShopping.Services.IArtikliService service
<div class="box box-primary col-xs-5">
    
        <form method="post" enctype="multipart/form-data" role="form" style="padding:10px 0 10px 0">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group row">
                <label class="col-form-label" asp-for="@Model.ImeArtikla">Article Name:</label>
                <div class="col-sm-4 col-sm-push-5">
                <input class="form-control" type="text" name="ImeArtikla" required/>
                <span class="text-danger" asp-validation-for="@Model.ImeArtikla"></span>
                    </div>
            </div>
            <div class="form-group row">
                <label class="control-label" asp-for="NaStanju">Article quantity:</label>
               <div class="col-sm-4 col-sm-push-5">
                <input class="form-control" type="number" name="NaStanju" required />
                <span class="text-danger" asp-validation-for="@Model.NaStanju"></span>
               </div>
            </div>
            <div class="form-group row">
                <label class="control-label" asp-for="CijenaArtikla">Article Price:</label>
                <div class="col-sm-4 col-sm-push-5">
                <input class="form-control" type="text" name="CijenaArtikla" required />
                <span class="text-danger" asp-validation-for="@Model.CijenaArtikla"></span>
                </div>
            </div>
           
                <div class="form-group">
                    <label class="control-label" asp-for="ImeKategorije">Category Name:</label>
                    <div class="col-sm-4 col-sm-push-5">
                        <select class="list-group-item" asp-for="ImeKategorije" asp-items="@{new SelectList(service.GetCategories(),"ImeKategorije","ImeKategorije","Izaberite kategoriju")}"></select>
                    </div>
                <div class="col-sm-push-2 btn btn-default btn-file">
                    <label class="control-label" asp-for="SlikaArtikla">Article Picture:</label>
                    <i class="fa fa-paperclip"></i>
                    <input class="" type="file" name="SlikaArtikla" required />
                </div>
                </div>
             <br />
             <div class="col-sm-4 col-sm-push-6">
                 <button class="btn btn-primary" type="submit">Submit</button>
                 <button class="btn btn-warning" type="reset">Reset</button>
             </div>
        </form>
    </div>
