@model AdvertisementTypeViewModel
@inject IArtikliService service
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="box-body text-center">
    <div class="text-center">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Advertisement type</td>
                <td>Option</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in service.GetAdvertisementTypeModels())
            {
                <tr>
                    <td>@item.AdvertisementType</td> 
                    <td><a asp-action="DeleteAdvertisementType" asp-route-name="@item.AdvertisementType">Obrisi</a></td>
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>
<form method="post">

<div class="box-body">
    <label class="control-label col-sm-4 col-sm-push-2" >Advertisement type: </label>
    <div class="form-group col-sm-5">
        <input class="form-control col-sm-2 " type="text" asp-for="@Model.AdvertisementType" />
        <span asp-validation-for="@Model.AdvertisementType"></span>
    </div>
    <button class="btn btn-primary">Submit</button>
</div>
</form>
  