@model AdvertisementTypeViewModel
@inject IArtikliService service
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="box-body text-center">
    <div class="text-center">
        <table class="table-bordered">
            <tr class="row"><th>Tipovi oglasa</th><th>Opcije</th></tr>

            @foreach (var item in service.GetAdvertisementTypeModels())
            {
                <tr class="row"><td>@item.AdvertisementType</td> <td><a asp-action="DeleteAdvertisementType" asp-route-name="@item.AdvertisementType">Obrisi</a></td></tr>
            }

        </table>
    </div>
</div>
<form method="post">

<div class="box-body">
    <label> Tip oglasa:</label>
    <input type="text" asp-for="@Model.AdvertisementType" />
    <span asp-validation-for="@Model.AdvertisementType"></span>
    <button class="btn btn-primary">Potvrdi</button>
</div>
</form>
    <a asp-action="Index">Home</a>