@model OnlineShopping.ViewModels.KategorijaViewModel
<div class="box box-primary">
    <div class="box box-body">
        <form method="post">

            <div class="form-group row col-sm-6 col-sm-offset-3">
                <label class="col-form-label col-sm-4 col-sm-push-2" asp-for="ImeKategorije">Category name:</label>
                <div class="col-sm-offset-2 col-sm-5">
                <input class="form-control" type="text" name="ImeKategorije" />
                <span asp-validation-for="@Model.ImeKategorije"></span>
                </div>
            </div>
            <div class="prioriteti form-group row">

            </div>
            <br/>
            <div class="form-group row col-sm-6 col-sm-offset-5">
                <button class="btn btn-primary" type="button" id="oznaka">Add new tag</button>
                <input class="btn btn-warning" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        let cnt = 0;        
        $("#oznaka").click(function(){
            $(".prioriteti").append(`
                    <div class="row">
                        <div class="form-group col-sm-4 col-sm-offset-2">
                            <label class="col-form-label">Oznaka ${cnt + 1}</label>
                            <input class="form-control" type="text" name="charachteristics[${cnt}].CharName" placeholder="Add new tag"/>
                        </div>                        
                        <div class="form-group col-sm-4">
                            <label class="col-form-label">Prioritet</label>
                            <input class="form-control" type="number" name="charachteristics[${cnt++}].Priority" placeholder="Add priority" />
                        </div>
                    </div>`);
        });
    });
</script>