@model Kategorija
@inject IArtikliService service
<div class="box box-primary">
    <div class="box-body">
        <form method="post">
            <div class="form-group">
                <select class="list-group-item col-sm-offset-5" 
                        id="CatChanging" 
                        asp-for="KategorijaID" 
                        asp-items="@{new SelectList(service.GetCategories(), "KategorijaID", "ImeKategorije", "Pick something")}"></select>
            </div>
            <div class="catList col-sm-offset-3"></div>
            <br/>
            <div class="form-group">
                <button type="submit" class="btn btn-primary col-md-offset-5">Potvrdi</button>
                <button type="button" id="resetButton" class="btn btn-info">Reset</button>
            </div>
        </form>
    </div>
</div>


<script>
    $(function () {
        $("#CatChanging").change(function () {
            $.ajax({
                url: "/Admin/GetCatList",
                type: "GET",
                data: { id: Number($("#CatChanging").val()) },
                success: function (data) {
                    $(".catList").empty();
                    $(data).each((i, item) => {
                        console.log(item);
                        $(".catList").append(`<div>
                        <div class="row">
                        <div class="col-sm-5">
                        <label class="col-form-label col-sm-4">Tag name:</label>
                        <div class="col-sm-4">
                        <input class="form-control" disabled value="${item["charName"]}"/>
                        </div>
                        </div>
                        <div class="col-sm-4">
                        <label class="col-form-label col-sm-3">Priority:</label>
                        <div class="col-sm-4">
                        <input class="form-control col-sm-2" disabled value="${item["priority"]}"/>
                        </div>      
                        <div>
                        </div>
                    </div>`);
                    });
                    console.log(data);
                },
                error: () => console.log("Error")
            });
        });
        $("#resetButton").click(function () {
            $(".catList").empty();
        });
    });
</script>