@model List<ArtiklOneViewModel>
@inject IArtikliService service
<table class="table table-striped">
<thead>
    <tr>
        <td class="text-center">Article Name:</td>
        <td class="text-center">Article Quantity:</td>
        <td class="text-center">Article Price:</td>
        <td class="text-center">Action:</td>
    </tr>
</thead>
    <tbody>

@foreach (var item in Model)
{
    <tr>
        <td class="text-center">@item.ImeArtikla</td>
        <td class="text-center">@item.NaStanju</td>
        <td class="text-center">@item.CijenaArtikla KM</td>
        <td class="text-center"><a asp-controller="Admin" asp-action="ChangeArticle" asp-route-id="@service.GetArticleIDbyName(item.ImeArtikla)">Change Article</a></td>
    </tr>
}
    </tbody>
</table>
