@model Artikl
@{ var imgSrc = string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.SlikaArtikla));}
<style>
    .Artikal {
        color: White;
        background-color: orangered;
        border: 1px solid rgba(61, 5, 83, 0.78);
        text-align: center;
        width: 200px;
        height: 250px;
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        align-self: flex-end;
        color: white;
        background-color: transparent;
        margin: 1px;
        width: 100%;
    }
</style>
<div class="Artikal">
        <img src="@imgSrc"
             height="150"width="100" alt="pg"/>
        <div><p>Ime artikla: @Model.ImeArtikla</p></div>
        <div><p>Na stanju: @Model.NaStanju</p></div>
        <div><p>Cijena: @Model.CijenaArtikla KM</p></div>
    </div>
