@{
    ViewData["Title"] = "About";
}
<h2>Online Shop</h2>

<p>Sistem za online kupovinu artikala nudi prezentiranje artikala od strane firmi sa mogućnošću određivanja specifičnih uslova kupovine za svaku oblast kojoj artikl pripada. Uz pomoć jednostavne i efikasne pretrage te preporuka artikala od samog sistema, korisnicima pored artikala sa njihovim opisom nudi i uvid u kvalitet i pouzdanost usluga od strane vlasnika te kontaktiranje istih. </p>
