<li><a asp-action="DodajArtikl" asp-controller="Home"><i class="fa fa-link"></i><span>Dodaj artikl</span></a></li>
<li><a asp-action="IzmijeniArtikl" asp-controller="Home"><i class="fa fa-link"></i><span>Izmjeni artikl</span></a></li>
<li><a asp-action="IzbrisiArtikl" asp-controller="Home"><i class="fa fa-link"></i><span>Izbrisi artikl</span></a></li>
<li><a asp-action="AzurirajKolicinu" asp-controller="Home"><i class="fa fa-link"></i><span>Azuriraj Kolicinu</span></a></li>
