@model OnlineShopping.ViewModels.KategorijaViewModel
<div>
    <form method="post">

    <div>
        <label asp-for="ImeKategorije"></label>
        <input type="text" name="ImeKategorije"/>
    </div>
    <div>
        <input type="submit" value="Potvrdi"/>
    </div>
</form>
</div>