@model IEnumerable<OnlineShopping.ViewModels.ArticlePurchaseHistoryViewModel>
@{
    Layout = "_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<body>
<nav>
    <input type="search" id="pretraga" name="Pretraga" placeholder="Pretrazi" />
</nav>
<div class="PurchasedArticles">

</div>
</body>
<script>
    $(function () {
        $("#pretraga").keyup(function () {
            $.ajax({
                url: "/Home/SeeArticleHistory",
                data: { Pretraga: $(this).val() },
                type: "POST",
                success: function (data) {
                    console.log(data);
                    $(".PurchasedArticles").empty();
                    $(".PurchasedArticles").html(data);
                },
                error: (data) => console.log(data)
            });


        });
    });
</script>
</html>