@{
    ViewData["Title"] = "Contact";
}
<h2>Kontaktirajte nas:</h2>

<address>
    Armije BiH bb<br />
    Bugojno, 70230<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:harun.hodzic@edu.fit.ba">harun.hodzic@edu.fit.ba</a><br />
    <strong>Marketing:</strong> <a href="mailto:ajdin.ljubuncic@edu.fit.ba">ajdin.ljubuncic@edu.fit.ba</a>
</address>
