@{
    ViewData["Title"] = "Home Page";
}

<div id="wrapper">
    <img src="~/images/file.jpeg" style="margin-left:35%; width:400px;height:400px;margin-top:5%;" />
    <h2 style="margin-left:42%;padding-bottom:1.5%;">Coming soon..</h2>
</div>