@model CRUD.ViewModels.ArtiklViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome</title>
    <link href="~/styles/Artikal.css" rel="stylesheet" type="text/css" />
    <link href="~/styles/Main.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav></nav>
    </header>
    <main>
        @foreach (var item in Model)
        {
            <partial class="Artikl" name="ArtiklPartial" model="@item" />
        }
    </main>

    <aside>
        <div>
            <a asp-action="DodajArtikl">Dodaj Artikl</a>
        </div>
        <div><a asp-action="IzmijeniArtikl">Izmijeni Artikl</a></div>
        <div><a asp-action="IzbrisiArtikl">Izbrisi Artikl</a></div>
        <div><a asp-action="DodajKategoriju">Dodaj kategoriju</a></div>
    </aside>
    <footer>
        <p>
            Copyright 2081 &copy;
            Beta Version
        </p>
    </footer>
</body>
</html> 