@model RegisterViewModel



<div>
    <form method="post">

        <div>
            <label asp-for="FirstName">FirstName</label>
            <input type="text" name="FirstName" />
        </div>
        <div>
            <label asp-for="LastName">FirstName</label>
            <input type="text" name="LastName"/>
        </div>
        <div>
            <label asp-for="UserName">UserName</label>
            <input type="text" name="UserName" />
        </div>
        <div>
            <label asp-for="Password">Password:</label>
            <input type="text" name="Password" />
        </div>
        <button type="submit">Registruj se brateeuu</button>
    </form>
</div>