<li><a asp-action="AddArticle" asp-controller="Admin"><i class="fa fa-link"></i><span>Add Article</span></a></li>
<li><a asp-action="DeleteArticle" asp-controller="Admin"><i class="fa fa-link"></i><span>Delete Article</span></a></li>
<li><a asp-action="UpdateQuantity" asp-controller="Admin"><i class="fa fa-link"></i><span>Update Quantity</span></a></li>
<li><a asp-action="AddCategory" asp-controller="Admin"><i class="fa fa-link"></i><span>Add Category</span></a></li>
<li><a asp-action="DeleteCategory" asp-controller="Admin"><i class="fa fa-link"></i><span>Delete Category</span></a></li>
<li><a asp-action="SeeArticleHistory" asp-controller="Admin"><i class="fa fa-link"></i><span>Article Buying History</span></a></li>
<li><a asp-action="AddAdvertisementType" asp-controller="Admin"><i class="fa fa-link"></i><span>Add Advertisement Type</span></a></li>
<li><a asp-action="AddAdvertisement" asp-controller="Admin"><i class="fa fa-link"></i><span>Add Advertisement</span></a></li>
<li><a asp-action="ManageAdvertisement" asp-controller="Admin"><i class="fa fa-link"></i><span>Manage Advertisement</span></a></li>
