<li><a asp-action="AddArticle" asp-controller="Admin"><i class="fa fa-link"></i><span>Dodaj artikl</span></a></li>
<li><a asp-action="DeleteArticle" asp-controller="Admin"><i class="fa fa-link"></i><span>Izbrisi artikl</span></a></li>
<li><a asp-action="UpdateQuantity" asp-controller="Admin"><i class="fa fa-link"></i><span>Azuriraj Kolicinu</span></a></li>
<li><a asp-action="AddCategory" asp-controller="Admin"><i class="fa fa-link"></i><span>Dodaj Kategoriju</span></a></li>
<li><a asp-action="DeleteCategory" asp-controller="Admin"><i class="fa fa-link"></i><span>Izbrisi Kategoriju</span></a></li>
<li><a asp-action="SeeArticleHistory" asp-controller="Admin"><i class="fa fa-link"></i><span>Historija kupovine</span></a></li>
<li><a asp-action="AddAdvertisement" asp-controller="Admin"><i class="fa fa-link"></i><span>Dodaj Reklamu</span></a></li>
<li><a asp-action="ManageAdvertisement" asp-controller="Admin"><i class="fa fa-link"></i><span>Upravljaj Reklamama</span></a></li>
<li><a asp-action="AddAdvertisementType" asp-controller="Admin"><i class="fa fa-link"></i><span>Evidencija tipova reklama</span></a></li>
